.daterangepicker {
    .drp-buttons {
        .btn {
            margin-left: 8px;
            font-size: 12px;
            font-weight: bold;
            padding: 0px;
        }
    }
}


.table {
    img.table-avatar {
        border-radius: 50%;
        display: inline;
        width: 2.5rem;
    }
}
